* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header-container-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 30px;
  background-color: var(background-color-mobile);
  color: white;
}

.div-logo img {
  width: 100px; 
}

.menu-btn {
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn span {
  display: block;
  width: 25px;  
  height: 3px;  
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
}

#menu-toggle {
  display: none;
}


.nav-bar-mobile {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #222;
  padding-top: 60px;
  transition: left 0.3s ease-in-out;
}
.box1{
  border-top: 1px solid #444;;
}
.nav-bar-mobile ul {
  list-style: none;
  padding: 0;
}

.nav-bar-mobile li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.nav-bar-mobile a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: block;
}

.nav-bar-mobile a:hover {
  background: #555;
}

/* Mostra o menu quando o checkbox é ativado */
#menu-toggle:checked ~ .nav-bar-mobile {
  left: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}