
@media (max-width: 1259px){
.container-header{
  display: none;
    position: static;
    }
.header-container-mobile {
  display: none !important;
}
} 

@media (min-width: 1260px){
  .header-container-mobile {
    display: none !important;
  }
  .container-header{
    display: flex;
  }    
}

.container-header{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  height: 100vh;
  border-right: 1px solid var(--color-gray);
  font-size: 20px;
}

.div-clube {
  line-height: 1.2;
}

.nav-bar {
  line-height: 1.8;
}


header  .div-nav-bar  .nav-bar > .li-item{
  font-size: 25px; 
}

.card-shop {
  background-color: var(--color-gray);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity-70 {
  opacity: 0.7;
}
