.container_clube{
  border-radius: 20px 20px 0px 0px;
  color: white !important;
  width: 100%;
  height: auto;
  background-color: rgb(36, 36, 36);
  padding: 30px;
}

.logo__clube {
  width: 70%;
}

.section__clube p {
  font-size: 1.2rem;;
}
.div-h1__clube{
  width: 100%;
}
.div-txt__clube {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .container_clube {
    display: flex;
    padding: 50px;
  }

  .btn__clube{
    width: 40%;
  }
  .logo__clube{
    display: flex !important;
  }
}

@media (min-width: 1024px) {
  .container_clube {
    display: flex;
    padding: 50px;
  }
  
  .container_clube p {
    font-size: 1.5rem;
  }
  .div-h1__clube {
    width: 100% ;
  }
  .btn__clube{
    width: 50%;
  }
}