.section__main{
  margin-bottom: 50px;
}

/* busca */
.section__search{
 padding: 0 10px; 
}

.divBusca{
  background-color:#ffffff;
  border:solid 1px;
  padding: 0 5px;
  border-radius:15px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}

.divBusca input {
  font-size: 15px;
} 

.div-img__scratch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBusca{
  width: 20px;
  height: 20px;
}

/* main */

.section__main {
  padding: 10px 20px;
}

.div-localization__main{
  line-height: 1.4;
}div-btn__vermismain h1 {
  font-size: 24px;
  font-weight: 500;
}

.main__boxes {
  
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat( 2 ,1fr);
  gap: 1rem;
}

.box{
  width: 100%;
 border: 1px solid black ;
 padding: 10px;
 border-bottom: 2px solid #dddddd;
 border-radius: 10px;
}


.name__tenis {
  max-width: 12ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.div__tenis{
  line-height: 1.3;
}

.btn__tenis{
  background-color: #ffffff;
  color: #000000;
  padding: 4px 8px;
  border:  1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.btn__tenis:hover{
  background-color: #04861a;
  color: #ffffff;
}

.btn__vermais{
  width: 25%;
  padding: 5px;
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  border-radius: 30px;
}

.div-btn__vermis {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .main__boxes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat( 3 ,1fr);
    gap: 1rem;
  }
  .name__tenis {
    max-width: 19ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .btn__vermais{
    width: 15%;
    padding: 5px;
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    border-radius: 30px;
  }
}

@media (min-width: 1024px) {
  .main__boxes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat( 3 ,1fr);
    gap: 1rem;
  }
  .name__tenis {
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}